body        { background: #E8EFF0; margin: 0; padding: 0; text-align: center; }
body, input { font-family: 'Helvetica Neue', Arial,
              sans-serif; font-weight: 300; font-size: 18px; }
.content    { width: 420px; margin: 60px auto; padding: 20px 20px 5px;
              background: white; box-shadow: 0 1px 4px #888;
              border-radius: 2px; }
.status     { width: 380px; margin: 0 auto; overflow: auto; 
              padding: 0 0 20px;  word-wrap: break-word; }
a           { color: #11557C; text-decoration: none; }
a:hover     { text-decoration: underline; }
h1, h2      { margin: 4px auto; color: #11557C; }
h1 a        { text-decoration: none; }
h2          { font-weight: normal; font-size: 24px; }
.tagline    { color: #888; font-style: italic; margin: 0 0 20px 0; }
.desc div   { overflow: auto; font-size: 0.8em; white-space: pre;
              padding: 4px 10px; margin: -10px 10px 10px; background: #E8EFF0;
              box-shadow: 0 1px 4px #888; border-radius: 2px; }
dt          { font-weight: normal; }
.error      { background: #E8EFF0; padding: 3px 8px; color: #11557C;
              font-size: 0.9em; border-radius: 2px; }
.urlinput   { width: 150px; }
